@import 'https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500,700';

*, *:before, *:after {
    box-sizing: border-box;
}

[data-i18n]:before {
    content: attr(data-i18n);
}

[data-i18n]:lang(es):before {
    content: attr(data-i18n-es);
}

html {
    font-size: 14px;
    color: #222222;
    background-color: #f2f1f1;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Frank Ruhl Libre', serif;
    padding-bottom: 2rem;
    text-align: center;
}

nav {
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    width: 100%;
}

main {
    padding-bottom: 1rem;
}

header {
    margin: 6rem 0;
}

header span {
    font-size: 2rem;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: 6rem;
    text-align: center;
}

h2 {
    margin-bottom: 3rem;
    font-size: 4.5rem;
    color: #ffd301;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.1;
}

section {
    background-color: #FFFFFF;

    display: flex;
    align-items: center;

    flex-direction: column;
}

section .category {
    font-size: 1.5rem;

    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;

    width: 100%;

    padding: 1rem 0;
}

section .details {
    text-align: left;

    padding: 2rem;
}

.language {
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.language .en:lang(en) {
    font-weight: 600;
}

.language .es:lang(es) {
    font-weight: 700;
}

.logo {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

footer {
    font-size: 1.25rem;
    background-color: #ffd301;
    padding: 2rem 0 2.5rem;

    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

footer a {
    font-family: futura-pt, sans-serif;
    color: black;
    font-weight: 500;
}

footer a:not(:last-child) {
    border-right: 1px solid black;
    padding-right: .5rem;
    margin-right: .5rem;
}

@media only screen and (min-width: 600px) {
    nav {
        padding: 0 5.5rem;
    }

    section {
        top: 0;
        position: fixed;
        height: 100vh;

        transition: all .5s ease-in-out;

        z-index: 1;
    }

    section .category {
        cursor: pointer;
        width: 3.5rem;
        border-top: none;
        border-bottom: none;
    }

    section .details {
        width: 20rem;

        height: 100%;
        overflow: auto;
        padding: 4rem 2rem 0;
    }

    section.about {
        left: -20rem;
        border-right: 2px solid #222222;
        flex-direction: row-reverse;
    }

    section.about:hover {
        left: 0;
    }

    section.about .category {
        transform: rotate(-90deg);
    }

    section.work {
        right: -20rem;
        border-left: 2px solid #222222;
        flex-direction: row;
    }

    section.work .category {
        transform: rotate(90deg);
    }

    section.work:hover {
        right: 0;
    }
}
